.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#title-container, #nav-links-container {
  margin: 5px;
  padding: 10px;
}

#title-container {
    cursor: pointer;
}

#nav-links-container {
}

.nav-links {
    list-style: none;
    display: flex;
    /* justify-content: center; */
    padding: 3px;
    gap: 40px;
    font-size: larger;

}

.nav-links > li > a {
    text-decoration: none;
    /* color: black; */
    color: #988c7f;

}


.title-header {
  color: #A39171;

}

.nav-links > li > a:hover {
    color: black;
    text-decoration: underline;
}

