.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.create-container {
  text-align: center;
}

#create-section {
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.btn-group > button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  margin: 10px;
}


.btn-group > button:hover {
  background-color: #a39171;
}


#entry-section {
    font-size: 20px;
}