.details-container {

    /* border: 2px black solid; */
    margin: 0px 250px;
    max-height: 100vh;
    display: flex;
    gap: 25px;
  box-sizing: border-box;
    
}

.title-section {
    /* border: 2px black solid; */

}

.title-details {
    /* border: 2px black solid; */

}

.thumbnail-details {
    object-fit: contain; 
    width: 258px;
    height: 387px;

}

.book-title {

}

.entry {

    /* border: 2px black solid; */
    padding: 10px;

}